<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/normal/base::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>User Dashboard</title>
</head>

<body>
	<section>
		<h1>
			Welcome to User Dashboard
		</h1>
		<h3>UserName: <span th:text="${user.name}"></span></h3>
		<h3>UserName: <span th:text="${user.email}"></span></h3>
		<h3>UserName: <span th:text="${user.role}"></span></h3>
		<h3>UserName: <span th:text="${user.about}"></span></h3>

	</section>

</body>

</html>