<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
 th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1>Smart Content Manager</h1>
		<p>This is a application which manages all your contacts very easily</p>
		<a href="/user/index" class="btn bg-primary btn-lg text white">Get Started</a>
		</div>
	</section>
	
	
</body>
</html>