<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">Document</title>
</head>

<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2 ">
					<div class="mycard">
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>
							<th:block th:text="${@sessionHelper.removeAttribute()}"></th:block>


						</div>
						<div class="container text-center">
							<img style="width: 100px;" src="" alt="" th:src="@{/images/resume.png}" />

						</div>

						<h1 class="text-center">Sign Up Here</h1>

						<form enctype="multipart/form-data" novalidate action="" th:action="@{/register}" method="post"
							th:objects="${user}">
							<div class="mb-3">
								<label for="exampleInputEmail1" th:value="${user.name}" class="form-label">Name</label>

								<input name="name" type="text" class="form-control " th:value="${user.name}"
									th:classappend="${#fields.hasErrors('user.name') ? 'is-invalid':''}"
									id="inputEmail3">

								<div id="validationServer03Feedback" th:each="e : ${#fields.errors('user.name')}"
									th:text="${e}" class="invalid-feedback">

								</div>

							</div>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label" th:value="${user.email}">Email
									address</label>
								<input name="email" type="email" class="form-control" id="email_field"
									th:value="${user.email}" aria-describedby="emailHelp">

							</div>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Password</label>
								<input name="password" type="password" class="form-control" id="password_field"
									th:value="${user.password}" aria-describedby="emailHelp">

							</div>

							<div class="mb-3">
								<label for="exampleFormControlTextarea1" class="form-label"
									th:value="${user.about}">Description</label>
								<textarea name="about" class="form-control" id="about_field" rows="3"
									th:text="${user.about}" placeholder="Type something about the User"></textarea>

							</div>

							<div class="custom-file mb-3">
								<input type="file" name="image" />
							</div>

							<div class="form-group form-check ">
								<input name="agreement" type="checkbox">
								<label for="agreement">
									Term & Conditions
								</label>
							</div>
							<div class="button text-center">
								<button class="btn btn-primary" type="submit">Submit</button>
								<button type="button" class="btn btn-danger">Reset</button>
							</div>


						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>